@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #ec5b13;
  --color-navy: #1A202C;
}

body {
  /* Eliminamos el font-family manual para que Tailwind use el de la config */
  @apply antialiased; 
  background-color: #f8f6f6;
  color: #1a202c;
}

/* Mantén tus animaciones y Material Symbols abajo */
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined' !important;
  /* ... resto de tu código ... */
}